$secondary-color: #999;
$primary-color: #b01;

$padding-x: 10px;

.loader {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  fill: $secondary-color;
}

// Csfd-magnets container
#tpb-search {
  h3 a.magnet-title {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  h3 .note {
    font-weight: normal;
    font-style: normal;
    color: $secondary-color;
  }

  .not-found {
    text-align: center;
    display: none;

    &.active {
      display: block;
    }
  }

  .search-header {
    text-align: left;
    color: $secondary-color;
    margin-bottom: 5px;

    p {
      padding: $padding-x $padding-x 0;
    }
  }

  ul {
    padding: 0;
  }

  li {
    padding: 12px $padding-x;
    border-bottom: 1px solid #d2d2d2;

    &:hover {
      background: #ddd;
    }

    a {
      display: block !important;

      &:hover {
        text-decoration: none;
      }
    }

    svg {
      fill: $primary-color;
      height: 12px;
      padding-right: 3px;
    }

    .attr {
      padding-right: $padding-x;
      word-break: break-all;
    }
  }

  .text-center {
    text-align: center;
  }

  .elsewhere {
    margin-top: 5px;
  }

  .hidden {
    display: none;
  }

  .text-lowercase {
    text-transform: lowercase;
  }
}

#pg-web-film #tpb-search.ct-related {
  margin-bottom: $padding-x;
}
